.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #727070;
  background-color: white;
  top: 80px;
  right: 50px;
  z-index: 5;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
    margin-bottom: 10px;

    &::-webkit-scrollbar {
      width: 6px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #727070;
    }
  }

  button {
    margin-top: auto;
  }
}